/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";
// resource: https://css-tricks.com/targetting-menu-elements-submenus-navigation-bar/
nav {    
  display: block;
  text-align: center;
  background-color: purple;
  font-size: 20px;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav a {
  display:block; 
  background: #111; 
  color: #fff; 
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.nav{  
  vertical-align: top; 
  display: inline-block;
  box-shadow: 
    1px -1px -1px 1px #000, 
    -1px 1px -1px 1px #fff, 
    0 0 6px 3px #fff;
  border-radius:6px;
}
.nav li {
  position: relative;
}
.nav > li { 
  float: left; 
  border-bottom: 4px #aaa solid; 
  margin-right: 1px; 
} 
.nav > li > a { 
  margin-bottom: 1px;
  
}
.nav > li:hover, 
.nav > li:hover > a { 
  border-bottom-color: orange;
}
.nav li:hover > a { 
  color:orange; 
}
.nav > li:first-child { 
  border-radius: 4px 0 0 4px;
} 
.nav > li:first-child > a { 
  border-radius: 4px 0 0 0;
}
.nav > li:last-child { 
  border-radius: 0 0 4px 0; 
  margin-right: 0;
} 
.nav > li:last-child > a { 
  border-radius: 0 4px 0 0;
}
.nav li li a { 
  margin-top: 1px;
}
.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
  height: 0; 
  width: 0; 
  border: 5px solid transparent; 
  top: 50% ;
  right:5px;  
 }

 /* submenu positioning*/
 .nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid purple;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 5px;
  min-width: 100%;
}
.nav > li li:hover > ul { 
  left: 100%;
  margin-left: 1px;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: purple; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #aaa; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color:purple;
  right: 10px; 
}

/* pagination */

// Modified from: https://mislav.github.io/will_paginate/
.pagination {
  background: white;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: purple;
    color: white;
    border: 1px solid purple; }
  .pagination a {
    text-decoration: none;
    color: purple;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }

/* table styling */

table {
  margin: auto;
  margin-top: 1em;
  border: solid 1px;
}

table th {
  border: solid 1px;
  font-family: 'Times New Roman', Times, serif;
  background-color: purple;
  color: white;
}

table tr {
  border: solid 1px;
  text-align: center;
}

table td {
  border: solid 1px;
  padding: 1px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

p {
  margin: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  color: purple;
  font-family: 'Pattaya', cursive;
  font-style: italic; 
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 6rem;
}

h3 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Pattaya', cursive;
  color: purple;
  font-style: initial;
  font-weight: bold;
}

label {
  margin-left: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

section {
  margin-top: 5rem;
  margin-left: 2rem;
}

footer{
  background-color: lightgray;
  padding: 1rem;
  text-align: center;
  margin-top: 5rem;
  position: relative;
}

// style the button

.errors {
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

// styling for edit, mark avaiable/unavailable 
.button {
  border: solid purple 1px;
  background-color: purple;
  color: white;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  margin-left: 1rem;
}

// styling for trip show view

.trip {
  font-family: 'Times New Roman', Times, serif;
}

// Specify font-family for each form
.driver-form {
  font-family: 'Times New Roman', Times, serif;
}

.passenger-form {
  font-family: 'Times New Roman', Times, serif;
}

.trip-form {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 0.7rem;
}
.trip-button {
  border: solid purple 1px;
  background-color: purple;
  color: white;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
}
.rate-trip-form {
  margin: 0px;
}

// homepage image

.grid-container {
  display: grid;
  grid-template: 3fr;
  grid-gap: 2rem;
}
.item-1,
.item-2,
.item-3,
.item-4 {
  align-items: center;
  justify-items: center;
  font-family: 'Overpass', sans-serif;
  font-size: 4em;
  line-height: 1;
  color: white;
}
.item-1 {
  grid-column: 1;
  grid-row: 1;
 
}

.item-2 {
  grid-column: 2;
  grid-row: 1;
 
}

.item-3 {
  grid-column: 3;
  grid-row: 1;
}
.homepage-img {
  max-width: 15%;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.images {
  max-width: 80%;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 4rem;
  image-rendering: center;
}
