// Place all the styles related to the Driver controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  margin-left: 3rem;
  margin-top: 1rem;
  border: solid 2px;
}

table th {
  border: solid 2px;
}
table tr {
  border: solid 2px;
  text-align: center;
}
table td {
  border: solid 2px;
  padding: 1px;
  text-align: center;
}

p {
  margin: 1rem;
}

h3 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: cursive;
  color: purple;
}

label {
  margin-left: 1rem;
}

section {
  margin-top: 5rem;
}