// Place all the styles related to the Passenger controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.passenger-form label {
  display: none;
}

h3 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: cursive;
  color: purple;
}

