// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.trip-form {
  display: flex;
  flex-wrap: wrap;
}

.trip-form label, input {
  margin: 5px;
}

.line-break {
  width: 100%;
}

.rate-trip-form label {
  font-weight: bold;
}
